{% extends "layouts/primary.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="container-fluid waec-bg">
            <div class="container top-space">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>About Sabimillionaire</h2>
                                <p>Sabimillionaire is an online/offline platform that educates you and rewards your level of education</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-fluid about-bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <h3 class="page-header">
                                We offer online/offline products:
                            </h3>
                            <p>Sabmillionaire is a smart product of kings Bolt. It was established September 14th 2021.
                                It is a smart online/offline educational platform with diversification in the technology industry.
                                Online trivia quiz, offline educational competitions to promote academic awareness, learning and creative educational solutions etc with rewards for partaking in these products. 
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="page-header">
                                Sabmillionaire online trivia games:
                            </h3>
                            <p>
                                This product provides services for online educational gaming industry, Where participants will be rewarded for their level of intelligence at various levels and a grand prize of a million naira for answering all levels of questions correctly within a friendly time frame. Participants are to use ticket’s when ever to play each level.
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="page-header">
                                Mission Statement
                            </h3>
                            <p>
                                To educate everyone with knowledgeable information as key to expansion and advancement in an evolving society through constant  and formative education throughout our products and services from the comfort of your home.
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="page-header">
                                Vision
                            </h3>                     
                            <p>
                                To build a knowledgeable society through technology, educational programmes and creating rewards for every level of intelligence in an evolving society. 
                                Educating and empowering every child on globally for a future potential development.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-separator">--------------------------------------------------------------</div>
        
    {% include 'includes/footer.html' %}
        
{% endblock content %}