{% extends "layouts/base.html" %}

{% block title %} Free Trivia Test {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/questions.css">
{% endblock stylesheets %}

{% block content %}

    {% if current_user.is_authenticated %}  
        {% for question in all_questions %}
            <div class="tw-relative">
                <div class="tw-max-w-xl tw-mx-auto tw-my-2">
                    <div class="tw-flex tw-justify-between tw-items-center tw-mx-6 tw-mb-1">
                        <div class="tw-text-gray-600 tw-text-center tw-text-md tw-w-2/12 md:tw-w-1/12"><span class="tw-font-bold tw-text-lg tw-text-ct-games"></span></div>
                        <div class="tw-flex">
                            <div class="tw-relative tw-flex tw-items-center tw-w-full">
                                <div class="
                                tw-text-white
                                tw-font-bold
                                tw-ml-8
                                tw-text-center
                                tw-text-base
                                tw-px-3
                                tw-bg-ct-games">
                            </div>
                        </div>
                    </div>

                    <div class="tw-mb-2">
                        <!----> 
                        <div class="tw-relative tw-pt-1">
                            <div class="
                                tw-overflow-hidden
                                tw-h-2
                                tw-text-xs
                                tw-flex
                                tw-rounded-full
                                tw-bg-ct-light-grey
                                ">
                                <div class="
                                tw-shadow-none
                                tw-flex
                                tw-flex-col
                                tw-text-center
                                tw-whitespace-nowrap
                                tw-text-white
                                tw-justify-center
                                tw-bg-ct-users-actions" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="tw-max-w-xl tw-mx-auto" active="true" order="1" _id="5fdafca90b81ed117b28733c" questionid="5fdafca90b81ed117b28733c" tags="5fdafc920b81ed117b286e4a,5eb985c0a408a52cbbcd61df" incorrect="Cyclops,Axis,Tethys" applicableforimagegeneration="true" createdat="2020-12-17T06:37:29.246Z" updatedat="2022-01-19T17:40:09.510Z" __v="0" correctcount="37" incorrectcount="8,7,3" imgwidths="600,400,200" answers="[object Object],[object Object],[object Object],[object Object]" totalcount="55" noscripttext="text: Who was the giant Hercules tricked into holding up the sky in his stead?, correct: Atlas, incorrect: Cyclops,Axis,Tethys, fun fact: After killing his family in a fit of madness induced by Hera, Hercules had to pay penance by completing 12 almost impossible tasks.">
                        <div class="tw-px-4 tw-rounded-3xl tw-shadow-lg tw--mt-3 tw-pb-2 tw-pt-4">
                            <div class="tw-text-center tw-text-ct-fun-facts tw-text-md tw-mb-1">
                            </div>
                            <section class="tw-rounded-3xl tw-p-3 tw-text-center tw-bg-ct-fun-facts-lighterer tw-text-ct-fun-facts-dark tw-text-xl">
                                {{ question[0] }}
                            </section>
                            <!---->
                        </div>
                    </div>
                    <div class="content-visibility-auto tw-w-full tw-p-1 tw-rounded-lg tw-max-w-xl tw-mx-auto tw-my-3 tw-bg-ct-games">
                        <div class="tw-rounded-lg tw-p-1 tw-bg-ct-games-lighterer">
                                {% for option in question[-1] %}
                                <div>
                                    <!----> 
                                        <div class="
                                            tw-text-center
                                            tw-flex
                                            tw-justify-between
                                            tw-items-center
                                            tw-max-w-md
                                            tw-mx-auto
                                            tw-my-3 md:tw-max-w-md md:tw-mx-auto">
                                            <div class="tw-flex tw-items-center">
                                                <div>{{ loop.index }}</div>
                                                <div class="{% if option == question[1] %} tw-font-bold tw-text-center tw-mx-2 tw-text-ct-fun-facts-mid-tone
                                                            {% elif question[2] and option == question[2] %} tw-font-bold tw-text-center tw-mx-2 tw-text-ct-qa
                                                            {% else %} tw-font-bold tw-text-center tw-mx-2 tw-text-ct-games
                                                            {% endif %}">
                                                        {{ option }}
                                                </div>
                                                {% if option != question[1] and option == question[2] %}
                                                    <svg data-v-d0f6a7bc="" aria-labelledby="X sign" role="presentation" width="24" height="24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" class="tw-fill-current tw-text-ct-qa" componentId="ct-icon-times-solid">
                                                        <title data-v-d0f6a7bc="" id="X sign" lang="en">X sign icon</title>
                                                        <g data-v-d0f6a7bc="">
                                                            <g data-v-d0f6a7bc="">
                                                                <path d="M14.3165,39.6484,10.549,35.8553,35.6835,10.6018l3.7675,3.7863-25.1345,25.26" class="a"></path>
                                                                <path d="M10.549,14.3881l3.7675-3.7863L39.451,35.8553l-3.7675,3.7931L10.549,14.3881" class="a"></path>
                                                                <path d="M39.5654,39.57a20.601,20.601,0,1,1,0-29.1375A20.6315,20.6315,0,0,1,39.5654,39.57ZM42.687,7.31a25.0132,25.0132,0,1,0,0,35.3741,25.0494,25.0494,0,0,0,0-35.3741" class="a"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        </div>
                </div>
                <!---->
            </div>
        {% endfor %}
 
    {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
        <script type="text/javascript" src="/static/assets/js/questions.js"></script>
{% endblock javascripts %}
    