{% extends "layouts/primary.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}  
       
        <div class="container-fluid utme-bg">
            <div class="container top-space">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Extra Curricular</h2>
                                <p>Debate, Code test, Spelling bee, Brainy movers, Quiz, <br />Recreational programs, Excursions, Awards to schools and parent etc.</p>
                            </div>
                            <div class="col-sm-12">
                                <p>
                                    <i class="fa fa-star sabi-star" aria-hidden="true"></i>
                                    <i class="fa fa-star sabi-star" aria-hidden="true"></i>
                                    <i class="fa fa-star sabi-star" aria-hidden="true"></i>
                                    <i class="fa fa-star sabi-star" aria-hidden="true"></i>
                                    Sabimillionaire's Extra Curricular</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <h3 class="page-header">
                            ...
                        </h3>
                    </div>
                    <div class="col-sm-12">
                        <p>...</p>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <img src="/static/assets/images/extra-curricular.png" alt="picture" class="img-responsive" width="100" height="100">
                </div>
            </div>
        </div>


    {% include 'includes/footer.html' %}

{% endblock content %}