{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- chartist CSS -->
    <link href="/static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="/static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    {% if current_user.is_authenticated %}
    <div style="margin-left:20px">
        <div class="row page-titles">
            <div class="page-breadcrumb">
                <div class="row page-titles">
                    <div class="col-md-5 col-12 align-self-center">
                        <h3 class="text-themecolor mb-0">Dashboard</h3>
                        <ol class="breadcrumb mb-0 p-0 bg-transparent">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                        <div class="d-flex mt-2 justify-content-end">
                            <div class="d-flex ml-2">
                                <div class="chart-text mr-2">
                                    <i class="ti-wallet text-primary" style="font-size:20px;align-items: center;"></i>
                                    <h4>Wallet: <span class="mt-0 text-primary"> ₦{{ wallet }}</span></h4>
                                </div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"><canvas style="display: inline-block; width: 60px; height: 35px; vertical-align: top;" width="60" height="35"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Testing starts here -->
        <div class="row" style="margin:10px!important;">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-info">
                                <!-- <i class="ti-wallet"></i> -->
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                            </div>
                            <div class="ml-2 align-self-center">
                                <h3 class="mb-0 font-weight-light">{{ total_attempted }}</h3>
                                <h5 class="text-muted mb-0">Total Attempts</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-primary">
                            <!-- <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-warning"> -->
                                <!-- <i class="mdi mdi-cellphone-link"></i> -->
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="ml-2 align-self-center">
                                <h3 class="mb-0 font-weight-light">{{ total_correct }}</h3>
                                <h5 class="text-muted mb-0">Correct</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-danger">
                                <!-- <i class="mdi mdi-cart-outline"></i> -->
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="ml-2 align-self-center">
                                <h3 class="mb-0 font-weight-light">{{ total_failed }}</h3>
                                <h5 class="text-muted mb-0">Failed</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-inline-block text-center rounded-circle bg-success">
                                <i class="fa fa-graduation-cap"></i></div>
                            <div class="ml-2 align-self-center">
                                <h3 class="mb-0 font-weight-light">{{ grade|safe }}</h3>
                                <h5 class="text-muted mb-0">Grade</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- End testing here -->

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message == 'no attempts left' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin:60px!important;">
                            <strong>
                                You don't have any attempts left!
                            </strong>
                            You should check if you have money in your wallet to buy a play & win ticket or fund your account to buy one. Alternatively, you can play our free trivia quiz.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
