body {
    background-image: url("../images/blue_bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-bg {
    background-color: aliceblue;
}