{% extends "layouts/base.html" %}

{% block title %} Fund Account {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/custom.css') }}">
{% endblock stylesheets %}

<script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>

{% block content %}

<div class="page-breadcrumb" style="margin:10px!important;">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Fund Account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 mx-auto mt-5">
    {% if payment_status %}
        <div class="row alert alert-success" role="alert">
            <div class="check"><i class="fa fa-check" aria-hidden="true"></i>Payment Successful</div>
        </div>
    {% else %}
        <div class="row alert alert-primary" role="alert">
            <div class=""></div>
            <div class="alert alert-primary" role="alert">
                Input amount you wish to fund your account with and proceed to make payment
            </div>
        </div>
    {% endif %}
</div>

<div class="col-md-6 mx-auto mt-5" style="margin-bottom: 10px;">

    <form id="paymentForm" class="text-primary">

        <div class="form-group">
        <label for="amount" class="col-sm-4 col-form-label">Amount</label>
        <input type="tel" name="amount" id="amount" {% if not amount %} required {% else %} {{ amount }} style="background-color: #f6f6f6;" readonly {% endif %}/>
        </div>
    
        <div class="form-group">
        <label for="email" class="col-sm-4 col-form-label">Email Address</label>
        <input type="email" id="email-address" name="email" value="{{ current_user.email }}" style="background-color: #f6f6f6;" readonly/>
        </div>
    
        <div class="form-group">
        <label for="first-name" class="col-sm-4 col-form-label">First Name</label>
        <input type="text" name="first-name" id="first-name" value="{{ current_user.first_name }}" style="background-color: #f6f6f6;" readonly/>
        </div>
    
        <div class="form-group">
        <label for="last-name" class="col-sm-4 col-form-label">Last Name</label>
        <input type="text" name="last-name" id="last-name" value="{{ current_user.last_name }}" style="background-color: #f6f6f6;" readonly/>
        </div>
    
        <div class="form-submit row">
        <button type="button" class="btn btn-primary btn-lg" name="pay" onclick="payWithPaystack()"> Pay </button>
        </div>

    </form>
    
</div>

<br><br>

<div class="col-xl-12">
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>Recent Transactions</h5>
        </div>
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>S/N</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Transaction ID</th>
                        </tr>
                        {% for payment in payments %}
                            <tr class="unread">
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    <h6 class="mb-1">{{ payment.created_at }}</h6>
                                </td>
                                <td>
                                    {{ payment.amount }}
                                    <!-- <img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td> -->
                                </td>
                                {% if payment.status == "success" %}
                                    <td>
                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ payment.payment_status }}</h6>
                                    </td>
                                {% else %}
                                    <td>
                                        <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>{{ payment.payment_status }}</h6>
                                    </td>
                                {% endif %}
                                <td>
                                    <h6 class="text-muted f-w-300">{{ payment.reference }}</h6>
                                </td>
                                <td>
                                        <h6 class="text-muted f-w-300">{{ payment.payment_option }}</h6>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-right" style="margin-right:20px;">
                        Page {{ page }} of {{ total_pages // count }}
                        {% if page < total_pages // count %}
                            <!-- <button id="index-next-page" class="btn btn-primary">Next</button> -->
                            <a href="{{ url_for('home_blueprint.index', page=page+1) }}" class="btn btn-primary">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
    <script src="https://js.paystack.co/v1/inline.js"></script> 
    <script src="/static/assets/js/custom.js"></script>
{% endblock javascripts %}