{% extends "layouts/primary.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% if blog_posts %}
        {% for post in blog_posts %}
            <div class="col-lg-4 col-md-12">
                <div class="card blog-widget">
                    <div class="card-body">
                        <div class="blog-image"><img src="https://appsrv1-147a1.kxcdn.com/material-wpx-pro/images/big/img1.jpg" alt="img" class="img-fluid blog-img-height w-100"></div>
                        <h3>{{ post.title }}</h3>
                        <label class="badge badge-pill badge-success py-1 px-2">{{ post.category }}</label>
                        <p class="my-3">
                            {{ post.excerpt }}
                        </p>
                        <div class="d-flex mt-1">
                            <form method="POST" action="">
                                <input type="hidden" name="post_id" value="{{ post.id }}" id="">
                                <button type="submit" class="read" class="link font-medium">
                                    Read More
                                </button>
                            </form>
                            <form method="POST" action="">
                                <input type="hidden" name="post_id" value="{{ post.id }}" id="">
                                <div class="ml-auto">
                                    <button class="link mr-2 " data-toggle="tooltip" title="" data-original-title="Like"><i class="mdi mdi-heart-outline"></i></a>
                                    <button href="" class="link" data-toggle="tooltip" title="" data-original-title="Share"><i class="mdi mdi-share-variant"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% include 'includes/footer.html' %}
        
{% endblock content %}