<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4><i class="fa fa-cubes fa-fw"></i> Products</h4>
                <ul>
                    <li>
                        <a href="">Star Child</a>
                    </li><li>
                        <a href="">Most Outstanding Student</a>
                    </li><li>
                        <a href="">Academic Fast Mover Personality</a>
                    </li><li>
                        <a href="">Extra Curricular</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><i class="fa fa-info fa-fw"></i> Services</h4>
                <ul>
                    <li><a href="">Educational Services</a></li>
                    <li><a href="">Recruitment Services</a></li>
                    <li><a href="">Institution Listing</a></li>
                    <li><a href="">Training</a></li>
                    <li><a href="">JAMB, WAEC & JSSCE</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Contacts</h4>
                        <p><i class="fa fa-phone"> </i> 08069106065, 08090753745</p>
                        <p><i class="fa fa-envelope"> </i> support@Sabimillionaire.com.ng</p>
                        <p><i class="fa fa-envelope"> </i> info@Sabimillionaire.com.ng</p>
                        <p><i class="fa fa-map-marker"> </i> #24 Alakahia Link Road, Opp. MTN Mast, Port Harcourt</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <a href="https://instagram.com/sabimillionaire" target="_blank"><i class="fab fa-instagram social-fontsize"></i></a>
                        <a href="https://facebook.com/sabimillionaire" target="_blank"><i class="fab fa-facebook social-fontsize"></i></a>
                        <a href="https://twitter.com/sabimillionaire" target="_blank"><i class="fab fa-twitter social-fontsize"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <p>&copy; 2022 All rights reserved | A product of Kings Bolt Nigeria</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
