<!-- Page Content -->
<div class="container" id="main-content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row standout-top-space standout-bottom-space">
                <div class="col-sm-4 col-sm-offset-2 col-xs-12">
                    <div class="row">
                        <div  id="round-bordered-image" class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1">
                            <img src="/static/assets/images/star-child.png" class="img-responsive" width="100" height="100">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h3 class="blue-color">Star Child</h3>
                    <p>For Primary School Pupils<br /><strong>The Star Child:</strong> This competition is mean't for children at the primary level of education.<br /> First this category of the competion involves competition to assertain the intelligence of the child among his/her peers.</p>
                </div>
            </div>
            <div class="row standout-top-space standout-bottom-space">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="blue-color">Most Outstanding Student</h3>
                    <p>Most <b class="text-danger">Outstanding</b> secondary student <br /> For Secondary Education.<br /><strong>Outstanding Student:</strong> This level of competition is meant for secondary category of student (Junior and Senior). The rewarding package involves Art and Science students.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-1 col-xs-12">
                    <div class="row top-space">
                        <div  id="round-bordered-image" class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1">
                            <img src="/static/assets/images/outstanding-student.png" class="img-responsive" width="100" height="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row standout-top-space standout-bottom-space">
                <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div  id="round-bordered-image" class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1">
                            <img src="/static/assets/images/fast-mover.png" class="img-responsive" width="100" height="100">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h3 class="blue-color">Academic Fast Mover Personality</h3>
                    <p>For tertiary education.<br /> <strong>Fast Mover Personality:</strong> This level of competition involves the tertiary institution students; Undergraduates and Graduates.</p>
                </div>
            </div>
            <div class="row standout-top-space standout-bottom-space">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="blue-color">Extra Curricular</h3>
                    <p>Debate, Code test, Spelling bee, Brainy movers, Quiz, Recreational programs, Excursions, Awards to schools and parent etc.</p>
                </div>
                <div  id="round-bordered-image" class="col-sm-4 col-sm-offset-1 col-xs-12">
                    <img src="/static/assets/images/extra-curricular.png" class="img-responsive" width="100" height="100">
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>    <!-- /.container -->