    <!-- Required Js -->
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/static/assets/js/sidebarmenu.js"></script>
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/waves.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bootbox.min.js"></script>
    <script src="/static/assets/js/notify.js"></script>
    <script src="/static/assets/js/moment.min.js"></script>
    <script src="/static/assets/js/daterangepicker.js"></script>
    <script src="/static/assets/js/aj.1631587180.js"></script>
    <script src="/static/assets/js/questions.js"></script>