<noscript><h3> You must have JavaScript enabled in order to use this order form. Please 
    enable JavaScript and then reload this page in order to continue. </h3> 
    <meta HTTP-EQUIV="refresh" content=0;url="not-allowed.html"></noscript>

<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar bg-primary">
        <!-- pcoded-sidebar -->
        <nav class="sidebar-nav">
            <div class="navbar-wrapper">
                <div class="navbar-content scroll-div">
                    <ul class="nav pcoded-inner-navbar sidebarnav bg-primary">
                        <li class="nav-item sidebar-item {% if 'index' in segment %} active {% endif %}">
                            <a href="{{ url_for('home_blueprint.index') }}" class="nav-link sidebar-link waves-effect waves-dark sidebar-link "><span class="pcoded-micon hide-menu"><i class="feather icon-home text-white" style="margin-right:15px;"></i></span><span class="pcoded-mtext text-white" style="margin-right:15px;">Dashboard</span></a>
                        </li>
                        <li class="nav-item sidebar-item {% if 'account-fund' in segment %} active {% endif %}">
                            <a href="{{ url_for('transaction_blueprint.account_fund') }}" class="nav-link sidebar-link waves-effect waves-dark sidebar-link "><span class="pcoded-micon hide-menu"><i class="fa fa-credit-card text-white" style="margin-right:15px;" aria-hidden="true"></i></span><span class="pcoded-mtext text-white" style="margin-right:15px;">Fund Account</span></a>
                        </li>
                        <li class="nav-item sidebar-item {% if 'account-withdraw' in segment %} active {% endif %}">
                            <a href="{{ url_for('transaction_blueprint.account_withdraw') }}" class="nav-link sidebar-link waves-effect waves-dark sidebar-link "><span class="pcoded-micon hide-menu"><i class="fa fa-university text-white" style="margin-right:15px;" aria-hidden="true"></i></span><span class="pcoded-mtext text-white" style="margin-right:15px;">Withdrawal</span></a>
                        </li>
                        <li class="nav-item sidebar-item {% if 'questions' in segment %} active {% endif %}">
                            <a href="{{ url_for('home_blueprint.play_game') }}" class="nav-link sidebar-link waves-effect waves-dark sidebar-link "><span class="pcoded-micon hide-menu"><i class="fa fa-gamepad text-white" style="margin-right:15px;" aria-hidden="true"></i></span><span class="pcoded-mtext text-white" style="margin-right:15px;">Play Game</span></a>
                        </li>
                        <li class="nav-item sidebar-item {% if 'page-profile' in segment %} active {% endif %}">
                            <a href="{{ url_for('home_blueprint.page_profile') }}" class="nav-link sidebar-link waves-effect waves-dark sidebar-link "><span class="pcoded-micon hide-menu"><i class="fa fa-cogs text-white" style="margin-right:15px;" aria-hidden="true"></i></span><span class="pcoded-mtext text-white" style="margin-right:15px;">Profile Settings</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth_blueprint.logout') }}" class="nav-link sidebar-link waves-effect waves-dark sidebar-link">
                                <span class="pcoded-micon hide-menu"><i class="feather icon-power text-white" style="margin-right:15px;" style="margin-right:20px;"></i></span><span class="pcoded-mtext text-white" style="margin-right:15px;">Logout</span>
                            </a>
                        </li>                                     
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</aside>


<!-- <aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/" aria-expanded="false"><i class="mdi me-2 mdi-gauge"></i><span
                            class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/page-profile.html" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-check"></i><span class="hide-menu">Profile</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/table-basic.html" aria-expanded="false"><i class="mdi me-2 mdi-table"></i><span
                            class="hide-menu">Table</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/icon-material.html" aria-expanded="false"><i
                            class="mdi me-2 mdi-emoticon"></i><span class="hide-menu">Icon</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/map-google.html" aria-expanded="false"><i class="mdi me-2 mdi-earth"></i><span
                            class="hide-menu">Google Map</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/page-blank.html" aria-expanded="false"><i
                            class="mdi me-2 mdi-book-open-variant"></i><span class="hide-menu">Blank</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/page-404.html" aria-expanded="false"><i class="mdi me-2 mdi-help-circle"></i><span
                            class="hide-menu">Error 404</span></a>
                </li>
            </ul>

        </nav>
    </div>
</aside> -->
